//** Footer Styles **/

footer {
  background: $pycon-dark-blue;
  color: #FFF;
  // margin-top: -2em;
  padding: 3em 5vw;

  h3 {
    color: #FFF;
    margin: 0;
  }
}

//** End of Footer Styles **/
