{% extends "base.html" %}

{% block main %}
<!-- Main Container -->
<main class="wrapper">
    <img src="{{ SITE_URL }}/theme/img/skyline.png" class="skyline">
    <section class="cta-wrapper">
        <h2>28 &mdash; 29<br/>Sept. 2017</h2>
        <h3>@USIU-Africa</h3>
        <a href="https://mymookh.com/tickets/event/435" class="button primary-cta square">Buy
            Ticket</a>
    </section>
    <section class="description-wrapper clearfix">
        <div class="icons clearfix">
            <ul class="icon-grid clearfix">
                <li class="icon">
                    <img src="{{ SITE_URL }}/theme/img/ConnectIcon.svg">
                    <h4>Connect</h4>
                </li>
                <li class="icon">
                    <img src="{{ SITE_URL }}/theme/img/ShareIcon.svg">
                    <h4>Share</h4>
                </li>
                <li class="icon">
                    <img src="{{ SITE_URL }}/theme/img/LearnIcon.svg">
                    <h4>Learn</h4>
                </li>
                <li class="icon">
                    <img src="{{ SITE_URL }}/theme/img/InspireIcon.svg">
                    <h4>Inspire</h4>
                </li>
            </ul>
        </div>
        <div class="description">
            <p>
              PyConKe will be the first in a series of anual gatherings of
              software developers, techies, business people, startups,
              learning institutions, students and other organizations and
              individuals that use or otherwise have an interest/stake in
              the Python programming language and its ecosystem.
            </p>
        </div>
    </section>
    <section class="topics">
        <h2 class="section-title">Featured Topics</h2>
        <article>
            <h3>DATA SCIENCE &amp; AI</h3>
            <p>Stats crunching with Pandas &amp; co. and ML with with tools like Tensorflow. Come
                partake in some pythonic stats & AI (just don't let what you subsequently create
                become self aware).</p>
        </article>
        <article>
            <h3>Internet of Things</h3>
            <p>Python in my IoT? It's more likely than you think! Feauted at the conference will be
                talks and presentations on (micro) python on assorted hardware with example
                applications.</p>
        </article>
        <article>
            <h3>Web, Music &amp; Animation</h3>
            <p>Pythonic web frameworks, scripting in animation with Blender and coding music in Py
                with sonicpi. Plenty of talks and tutorials on these to get you started.</p>
        </article>
    </section>
    <section class="sponsors">
        <h2 class="section-title">Our Awesome (and Growing) Grid of Sponsors</h2>
        <ul class="sponsor-grid level-1">
            <li>
               <a href="https://www.jumo.world">
                    <img src="{{ SITE_URL }}/theme/img/jumo.svg"
                     alt="Jumo Logo" title="JUMO">
               </a>
            </li>
            <li>
                <a href="http://www.usiu.ac.ke">
                    <img src="{{ SITE_URL }}/theme/img/usiu.svg"
                         alt="USIU Logo" title="USIU">
                </a>
            </li>
            <li>
                <a href="https://gro-intelligence.com">
                    <img src="{{ SITE_URL }}/theme/img/gro.svg"
                         alt="Gro Intelligence Logo" title="Gro Intelligence">
                </a>
            </li>
        </ul>
        <ul class="sponsor-grid level-2">
            <li>
                <a href="https://www.ona.io">
                    <img src="{{ SITE_URL }}/theme/img/ona.svg" alt="Ona Logo" title="Ona">
                </a>
            </li>
            <li>
                <a href="https://www.intel.com">
                    <img src="{{ SITE_URL }}/theme/img/intel.svg"
                         alt="Intel Logo" title="Intel">
                </a>
            </li>
        </ul>
        <ul class="sponsor-grid level-3">
            <li>
                <a href="https://www.africastalking.com/">
                    <img src="{{ SITE_URL }}/theme/img/africastalking.svg"
                         alt="Africa's Talking Logo" title="Africa's Talking">
                </a>
            </li>
            <li>
                <img src="{{ SITE_URL }}/theme/img/value8.svg" alt="Value8 Logo" title="Value8">
            </li>
        </ul>
    </section>
</main>
<!-- /Main Container -->
{% endblock main %}


{% block footerleft %}
    <!-- recent developments -->
    <section class="developments">
        <header>
            <h2 id="developments" name="developments">Recent Developments</h2>
        </header>
        <ul class="dates">
            {% for article in articles_page.object_list %}
            <li>
                <span class="date">
                    {{ article.date|strftime('%d') }}
                    <strong>{{ article.date|strftime('%b') }}</strong>
                </span>
                <h3>
                    <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" target="_blank">{{ article.title }}</a>
                </h3>
                <p>{{ article.summary }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock footerleft %}
